header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    background-color: #222;
    position: sticky;
    top: 0;
    left: 0;
}

.header_1 {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.header1_left {
    gap: 8px;
    display: flex;
}

.header1_right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header1_right input {
    width: 74%;
    height: 70%;
}

.header1_right button {
    width: 24%;
    height: 70%;
}

.header1_left a {
    padding: 0 12px;
}

.active {
    background-color: black;
}

.header_home a:hover {
    color: white;
}

.header_about a:hover {
    color: white;
}

.header_products a:hover {
    color: white;
}

.header_services span:hover {
    color: white;
}



.header_home a {
    text-decoration: none;
    color: #9d9d9d;
}

.header_about a {
    text-decoration: none;
    color: #9d9d9d;
}

.header_products a {
    text-decoration: none;
    color: #9d9d9d;
}

.header_services span {
    text-decoration: none;
    color: #9d9d9d;
}


.header_services:hover ul {
    display: block;
}

.header_services ul {
    position: absolute;
    top: 100%;
    width: 150%;
    height: 140%;
    display: none;
    background-color: #fff;
    margin-left: 45px;
    border-radius: 0 0 5px 5px;

}

.header_services {
    position: relative;
    width: max-content;
    cursor: pointer;
}



.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo1 img {
    height: 30px;
    width: 30px;
}

.logo1 a {
    text-decoration: none;
    color: #9d9d9d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_home,
.header_about,
.header_products,
.header_services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
}